# import packages

In [1]:
import pandas as pd

In [2]:
import numpy as np

# import datasets

In [3]:
df_train = pd.read_csv('./Dataset/train.csv')

In [4]:
df_train

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5
...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5

In [5]:
df_train.columns

Index(['text_id', 'full_text', 'cohesion', 'syntax', 'vocabulary',
       'phraseology', 'grammar', 'conventions'],
      dtype='object')

In [6]:
type(df_train['full_text'][0])

str

In [7]:
df_test = pd.read_csv('./Dataset/test.csv')

In [8]:
df_test

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

# Word2id

Go over all words shown in train set and make assign each an id

In [9]:
from string import ascii_letters

In [10]:
# remove charaters other than space and letters
allowed = set(ascii_letters + ' ')

In [11]:
df_train_clean = df_train['full_text'].apply(lambda x: ''.join(l for l in x if l in allowed).strip().split())

In [12]:
# list of all words in train set
train_words_list = list(set([element for l in df_train_clean for element in l]))

In [13]:
# do the same for test set
df_test_clean = df_test['full_text'].apply(lambda x: ''.join(l for l in x if l in allowed).strip().split())
# list of all words in train set
test_words_list = list(set([element for l in df_test_clean for element in l]))

In [14]:
# check if all words appearing in test also appear in train
assert all(elem in train_words_list for elem in test_words_list),"there are words in test set not in train set"

AssertionError: there are words in test set not in train set

Since there are words in test set that are not in the train set, we combine the 2 to assign word id.

In [15]:
all_words_list = list(set(train_words_list + test_words_list))
vocab_dict = dict(map(reversed, enumerate(all_words_list)))

In [16]:
# Pandas series of the train full_text that all words are converted to integer ids
train_text = df_train_clean.apply(lambda x: np.array([vocab_dict[word] for word in x]))

In [17]:
# Pandas series of the test full_text that all words are converted to integer ids
test_text = df_test_clean.apply(lambda x: np.array([vocab_dict[word] for word in x]))

# word2vec

Another way is to use the word2vec package (To be done/explored)